@{
  Layout = "_Layout";
}
<h1>Welcome to my Address Book.</h1>

<form action="/contact/create"" method="post">
  <div class="form-group">
    <label for="contact-name">Your Name:</label>
    <input id="contact-name" name="contact-name" type="text">
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input id="address-name" name="address-name" type="text">
  </div>
</form>
